
<h3>Your orginizations</h3>

<% @groups.each do |t| %>
  <ul style= "list-style-type: none;">
  <%if t.id == current_user.id %> 
    <form action='/groups/<%=t.id%>' method='post'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input name="_method" type="hidden" value="delete">
      <input type='hidden' name='group_id' value='<%= t.id %>'>
      <input type='submit' value='Delete Group'>
    </form>
  <%end%> 


  <li>  <a href="/groups/<%=t.id%>"><%=t.name%></a> </li>
  <li><b>Members :</b><%= t.memberships.count %> </li>
  <li><%= t.description %> </li>
</ul>
<%end%> 




<%= form_for @group, :url => '/groups' do |f| %>

<%= f.label :name, "Name" %>
<%= f.text_field :name %>

<%= f.label :description, "description" %>
<%= f.text_area :description %>

<%=f.submit "Create orginization" %>
<%end%>
